@import "tailwindcss";


.display-container {

  display: flex;
  justify-content: space-between;

  width: 100%;
  font-size: xx-large;
  /* margin-left: 5px; */
  margin-bottom: 5px;
}

.display {
  padding-left: 2px;
  width: 75%;

}

.input-field {
 
  padding-left: 5px;
  height: 100px;
  border: 1px solid black;
  margin-top: 2px;
  margin-bottom: 2px;
}
.input-field:hover{
  background-color: rgb(237, 242, 237);
}
.answer-field {
  height: 100px;
  margin-top: 2px;
  margin-bottom: 2px;
  border: 1px solid black;
}
.answer-field:hover{
   background-color: rgb(237, 242, 237);
}
.btns {
  padding-right: 2px;
  margin: 0px px 0px 2px;
  display: flex;
  flex-direction: column;
  width: 25%;

}
button{
  background-color: azure;
}
button:hover{
  background-color: rgb(215, 239, 239);
}
.btns>button {
  margin-top: 2px;
  margin-bottom: 0px;
  border: 1px solid black;
  height: 100px;
  width: 100%;

}

.backspace-icon {
  background-image: url('./assets/backspace-arrow.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  display: inline-block;

}

.color-btn {
  background-color: rgb(191, 239, 191);

}

.button-container {
  margin: 0px 2px 0px 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: xx-large;
}

.btn-row {
  margin: 0px 5px 5px 5px;
  display: flex;
}

.btn-row>Button {
  width: 25%;
  border: 1px solid black;
  border-radius: 2rem;
  height: 100px;
  margin: 5px;
  padding: 2px;
  
}

.btn-row>.equal-btn {
  width: 50%;
}

.color-btn:hover {
  background-color: aquamarine;
}


